@import '@/assets/layout/layout.scss';

/* PrimeVue */
// @import 'primevue/resources/primevue.min.css'; // version deplicated. You must open the command line if you are using < 3.29.00
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';